body{
  background-image:linear-gradient(green,aqua);
}
button{
  background: greenyellow;
  height:30px ;
  width: 200px;
  font-size: 20px;
  color: blue;
}
img{
  margin-top:3%;
  height:605px;
  width:1200px;
  margin-bottom: 3%;
}